.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a6f9ef5e;
}
.header-heading {
  margin-left: 3%;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: cursive;
  color: #403716;
}
.header-nav {
  display: flex;
  margin-right: 15%;
}
.header-nav div {
  margin-left: 45px;
  font-size: 1.2rem;
  font-weight: bold;
}
