.dashboard-heading {
  text-align: center;
  font-size: 2.3rem;
  color: #4a4848;
  font-style: italic;
}
.dashboard-chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
  margin: 5% 0;
  margin-bottom: 13%;
}
.dashboard-chart-heading {
  text-align: center;
  color: #46833f;
}

@media only screen and (max-width: 600px) {
  .dashboard-chart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3%;
    margin: 5% 0;
    margin-bottom: 13%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 600px) {
  
}
